/.lake
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
ENV/

# Environment variables (Secrets)
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Unit test / coverage reports
.coverage
.pytest_cache/
htmlcov/

# IDE Settings (Optional but recommended)
.vscode/
.idea/
